:root{
    --purple: rgb(76, 14, 76);
    --black: black
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}

h1{
    font-size: 500%;
    color: var(--black);
}

header{
    display: flex;
    background-color: var(--purple);
}

header nav{
    float: right;
}

header nav ul{
    display: inline;
}

header nav ul li{
    color: var(black);
}