:root{
    --purple: #4B006E;
    --black: black
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}

header h1{
    font-size: 400%;
    display: inline-block;
}

header{
    padding: 20px;
    display: flex;
    background-color: var(--purple);
    color: var(--black);
    background-image: linear-gradient(to right, var(--purple), rgb(177, 45, 177));
    
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 20px;
}

a{
    color: var(--black);
    font-size: 200%;
}