:root{
    --purple: #4B006E;
    --black: black
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #05bbaa;
}

header{
    display: flex;
    padding: 5px;
    background-color: var(--purple);
    color: var(--black);
    background-image: linear-gradient(to right, var(--purple), #cc41ff);
    border-radius: 15px;
    border: 3px solid var(--black);
    box-shadow: -10px 10px 5px var(--black);
    justify-content: space-between;
}

header:hover{
    box-shadow: 5px 5px 5px var(--black) inset;
}

header h1{
    font-size: 400%;
    display: inline-block;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 20px;
}

a{
    color: var(--black);
    font-size: 200%;
}

h2{
    font-size: 400%;
    padding: 10px;
    display: flex;
}

h3{
    font-size: 250%;
    background-color: wheat;
    border: 2px  solid var(--black);
    border-radius: 5px;
    text-align: center;
}

section{
    display: flex;
    background-color: var(--purple);
    margin: 20px;
    background-image: linear-gradient(to right, #cc41ff, var(--purple));
    border-radius: 15px;
    border: 3px solid var(--black);
    box-shadow: 10px 10px 5px var(--black);
    flex-wrap: wrap;
}

section img{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    margin: 20px;
}

section:hover{
    box-shadow: 5px 5px 5px var(--black) inset;
}



section p{
    display: flex;
    font-size: 150%;
    margin: 5px;
    flex-wrap: wrap;
    flex: 1 1;
    align-items: center;
    margin: 20px;
}

#projects{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
}

section div{
    display: flex;
    margin: 1.5%;
    justify-content: center;
}

#work{
    display: grid;
}

#projects a{
    text-decoration: none;
    font-size: 100%;
}

#project-1{
    width: 100%;
    background-image: url(../images/jj-ying-7JX0-bfiuxQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 1.5%;
}

#project-2{
    width: 47%;
    background-image: url(../images/koushik-chowdavarapu-aWBPk_GBaCk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 1.5%;

}

#project-3{
    width: 47%;
    background-image: url(../images/ricardo-gomez-angel-5YM26lUicfU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 1.5%;

}

#project-4{   
    width: 47%;
    background-image: url(../images/ryan-moreno-w1_4YH5IhDg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 1.5%;

}

#project-5{
    width: 47%;
    background-image: url(../images/silvio-kundt-Fixg8KipOg8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 1.5%;

}

section a:hover{
    box-shadow: 10px 10px 10px var(--black) inset;
}

section p a:hover{
    box-shadow: 0 0 0 var(--black) inset;
}

section ul{
    align-items: center;
}

section ul li{
    font-size: 150%;
}

section p a{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
}

h4{
    font-size: 150%;
}
/* I did max width 1000 because that is where the nav bar would start acting weird this way it shifts to a column and keeps it from doing that */
@media screen and (max-width: 1000px) {
    header nav ul li{
        display: block;
    }
}

@media screen and (max-width: 776px){
    section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}